@font-face {
    font-family: "Necromancer";
    src: url('../necromancer-font/Necromancer-lgP8Z.ttf');
    src: url('../necromancer-font/Necromancer-lgP8Z.ttf') format('truetype');
  }

* {
    font-family: "Times New Roman", sans-serif;
}

/* * {
    border: solid 1px red;
} */

body {
background-color: black;
margin: 10px 0;
}

button {
    background-color: black;
    position: fixed;
    height: max-content;
    width: max-content;
    max-width: 10%;
    top: 30px;
    right: 76%;
    border-radius: 10px;
    font-size: 20px;
}

button a {
    text-decoration: none;
    color: white;
}

.trunk {
    background-image: url(../images/oriental-tiles.png);
    border-radius: 30px;
    margin-right: 25%;
    margin-left: 25%;
    padding: 15px;
}

header {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 30px 30px 0 0;
}

/* header,
.description,
.ingredients,
.steps {
    margin: 15px;
} */

h1 {
    font-family: Necromancer;
    font-size: 70px;
}

h2 {
    font-size: 30px;
}

.main-list {
    background-color: lightskyblue;
    color: darkblue;
    font-size: 30px;
    line-height: 2.2;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    border-radius: 0 0 30px 30px;
}

  

.main-list a {
    text-decoration: none;
}

.description {
    background-color: blueviolet;
    margin-bottom: 20px;
}

.description::after {
    content: "";
    display: table;
    clear: both;
}

img {
    float: left;
    padding-right: 20px;
}

.ingredients {
    clear: both;
    background-color: brown;
    color: white;
    margin-bottom: 20px;
}

section,
article {
    padding: 20px;
}

.steps {
    background-color: lightblue;
    border-radius: 0 0 30px 30px;
}